@import "normalize";

#blockColorblindContent{
  display: none;
}

body{
  background: #FFF;
  color: #939393;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
  font-weight: 600;
}

h1{
  margin: 25px 0;
  line-height: 35px;
}

h2{
  font-size: 1.2rem;
  margin: 22.5px 0 15px;
}

h4{
  margin-bottom: 10px;
  color: #727272;
}

address{
  font-style: normal;
}

a{
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
}

article{
  p{
    line-height: 24.5px;
  }
}

.section{
  padding-bottom: 30px;

  &.spaced, .spaced{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  & header.spaced{
    padding: 20px 1.5rem auto;
  }

  header{
    background-color: #fafafa;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
  }
}

.no-break{
  white-space: nowrap;
}

.page-header{
  padding-top: 3.15rem;
}

/* Avatar / Image */
.avatar{
  display: flex;
  justify-content: center;
  align-items: center;

  .avatar-image{
    border-radius: 50%;
    width: 14rem;
    height: auto;
  }
}

.personal-info{
  text-align: center;
  font-weight: 400;

  .personal-info-firstname,
  .personal-info-lastname {
    display: block;
    padding: 0;
    margin: 0;
  }

  .personal-info-firstname, .job-title{
    font-weight: 300;
  }

  .personal-info-lastname{
    font-weight: 600;
    font-size: 36px;
    color: #F8BB10;
  }

  .job-title{
    font-size: 14px;
  }
}

.social-media{
  .social-icon-menu{
    list-style-type: none;
    margin: 25px 0;

    li{
      display: inline-block;
    }

    a{
      color: grey;
      transition: color 0.6s;

      &:hover{
        color: #F8BB10;
      }
    }
  }
}

.contact-info{
  font-size: 14px;
  ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  li{
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
  }

  a{
    color: grey;
    transition: color .2s;

    &:hover{
      color: #F8BB10;
    }
  }

  .contact-menu{
    list-style-type: none;
    padding-top: 30px;
  }

  p{
    margin:0;
  }
}


footer.contact{
  .contact-info li{
    text-align: left;
  }
}