@import "normalize";

#blockColorblindContent{
  display: none;
}

body{
  background: #FFF;
  color: #939393;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
  font-weight: 600;
}

h1{
  margin: 25px 0;
  line-height: 35px;
}

h2{
  font-size: 1.2em;
  margin: 22.5px 0 15px;
}

h4{
  margin-bottom: 10px;
  color: #727272;
}

address{
  font-style: normal;
}

a{
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
}

article{
  p{
    line-height: 24.5px;
  }
}

.section{
  padding-bottom: 30px;

  &.spaced, .spaced{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  & header.spaced{
    padding: 20px 1.5rem auto;
  }

  header{
    background-color: #fafafa;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;

    h2{
      text-transform: uppercase;
    }
  }
}

hr{
  border: 0px solid #ececec;
  border-bottom: 2px solid #ececec;
}

.no-break{
  white-space: nowrap;
}

.page-header{
  padding-top: 3.15rem;
}

/* Avatar / Image */
.avatar{
  display: flex;
  justify-content: center;
  align-items: center;

  .avatar-image{
    border-radius: 50%;
    width: 14rem;
    height: auto;
  }
}

.personal-info{
  text-align: center;
  font-weight: 400;

  .personal-info-firstname,
  .personal-info-lastname {
    display: block;
    padding: 0;
    margin: 0;
  }

  .personal-info-firstname, .job-title{
    font-weight: 300;
  }

  .personal-info-firstname{
    font-size: 1.2em;
  }

  .personal-info-lastname{
    font-weight: 600;
    font-size: 36px;
    color: #F8BB10;
  }

  .job-title{
    font-size: 14px;
  }
}

.social-media{
  .social-icon-menu{
    list-style-type: none;
    margin: 25px 0;

    li{
      display: inline-block;
    }

    a{
      color: grey;
      transition: color 0.6s;

      &:hover{
        color: #F8BB10;
      }
    }
  }
}

.introduction .content{
  font-size: 1.2em;
}

.listing{
  list-style: none;
  padding-top: 30px;

  .counter, h3 {
    display: inline-block;
  }

  .counter{
    margin-right:10px;
    font-size: 1.2rem;
    font-weight: 800;
    color: #F8BB10;
  }

  li{
    padding-top: 7.5px;
    padding-bottom: 7.5px;
  }

  .progress-bar{
    position: relative;
    margin-top: 15px;
    height: 15px;
    width: 100%;
    background-color: lightgray;
    border: solid 1px rgba(51, 51, 51, 0.1);
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;

    .progress{
      position: absolute;
      top: 50%;
      left: 0%;
      height: 12.5px;
      transform: translate(0,-50%);
      background-color: #F8BB10;
      border-radius: 15px;
      border: solid 1px rgba(204, 151, 16, 0.4);
      background-image: linear-gradient(
                      -45deg,
                      rgba(255, 255, 255, .2) 25%,
                      transparent 25%,
                      transparent 50%,
                      rgba(255, 255, 255, .2) 50%,
                      rgba(255, 255, 255, .2) 75%,
                      transparent 75%,
                      transparent
      );
      background-size: 15px 14px;

      animation: change 1s linear infinite;
      overflow: hidden;
      box-shadow:inset 0px -2px 5px rgba(0, 0, 0, 0.2);

    }
  }
}

.timeline{
  margin-top:15px;
  border-left-width: 2px;
  border-left-style: solid;
  margin-left: 26px;
  border-color: #ececec;
  list-style: none;
}

.timeline-item{
  position: relative;

  .content{
    display: flex;

    .heading{
      flex: 1;
    }

    .main{
      flex: 2;
      p{
        margin-top: 0;
      }
    }
  }
}

.timeline-point{
  height: 10px;
  width: 10px;
  position: absolute;
  left: -29.5px;
  top: 6px;
  border-radius: 50%;
  background: #F8BB10;
  box-shadow: 0 0 0 6px #fff;
}

.contact-info{
  font-size: 14px;
  ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  li{
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
  }

  a{
    color: grey;
    transition: color .2s;

    &:hover{
      color: #F8BB10;
    }
  }

  .contact-menu{
    list-style-type: none;
    padding-top: 30px;
  }

  p{
    margin:0;
  }
}


footer.contact{
  .contact-info li{
    text-align: left;
  }
}

@keyframes change {
  from {background-position:0 0,left}
  to {background-position: 15px 0,left}
}